/* Login and signup forms */

.account-form button {
  inline-size: 4rem;
  margin-inline-start: 80px;
}

#signup-form button {
  inline-size: 8rem;
}

.account-forms-container {
  padding-inline-start: 20px;
}


/* User profile */

.user-profile-box {
  padding: 10px 10px 10px;
  font-size: 0.8rem;
}

.user-profile-box > * {
  margin: 0;
  color: gray;
  display: absolute;
}